<h1>HomePage#index</h1>
<p>Find me in app/views/home_page/index.html.erb</p>
<div id = 'id' name= 'name'>We will not go quietly</div>
<button name ="doStuffBtn" onClick="doStuffBtn_OnClick()">Do Stuff Button</button>

